button{
    background-color: darkslategray;
    width: 50px;
    height: 50px;
    border-radius: 75%;
}

body{
    text-align: center;
}
#visor{
    width: 200px;
    height: 50px;
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 20px;
    border-radius: 10px;
    border-width: 10px;
    background-color: lightcyan;
}